<!Doctype html>
{% load static %}
<html>
<head>
<meta charset="utf-8">
<title>Social Network</title>
<link href="{% static 'css/style.css' %}" rel="stylesheet">
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
</head>

<body>
<div class="navbar">
  <div class="navbar-inner">
    <a class="brand">Social Network</a>
    <ul class="nav">
       {% if request.user.is_authenticated %}
      <li class="active"><a href="#">Hello, {{request.user.username}}</a></li>
        {% endif %}
      {% if request.user.is_authenticated %}
      <li><a href="{% url 'home' %}">Home</a></li>
      <li><a href="{% url 'account' %}">Profile</a></li>
      <li><a href="{% url 'logout' %}">Logout</a></li>
      {% else %}
      <li><a href="{% url 'home' %}">Home</a></li>
      <li><a href="{% url 'login' %}">Login</a></li>
      <li><a href="{% url 'register' %}">Register</a></li>
      {% endif %}
    </ul>
  </div>
</div>
<section id="main">
	<section id="page">
    <article>
        <div class="header">
         <a class="user-profile">You must authenticate to view this page. Please login or register.</a>
        </div>
    </article>



<script src="http://code.jquery.com/jquery.js"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script>
$('#myTab a').click(function (e) {
  e.preventDefault();
  $(this).tab('show');
})
</script>
</body>
</html>
